* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #1e1e1e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#antimatter-display {
  font-size: 40px;
  color: #df5050;
  margin-bottom: 40px;
}

.dimension-row {
  font-size: 25px;
  color: #ffffff;
  display: grid;
  grid-template-columns:
    minmax(250px, 3fr)
    minmax(150px, 2fr)
    minmax(150px, 2fr)
    minmax(180px, 2fr);
  gap: 15px;
  align-items: center;
  width: 100%;
  margin-left: 40px;
  margin-bottom: 20px;
}

.dimension-buy-button {
  border: none;
  color: #ffffff;
  width: 150px;
}

.can-buy {
  background-color: #138626;
}

.cannot-buy {
  background-color: #df5050;
}